{{ define "body-class" }}
    article-page
    {{/* 
        Enable the right sidebar if
            - Widget different from 'TOC' is enabled
            - TOC is enabled and not empty
    */}}
    {{- $HasWidgetNotTOC := false -}}
    {{- $TOCWidgetEnabled := false -}}
    {{- range .Site.Params.widgets.page -}}
        {{- if ne .type "toc" -}}
            {{ $HasWidgetNotTOC = true -}}
        {{- else -}}
            {{ $TOCWidgetEnabled = true -}}
        {{- end -}}
    {{- end -}}

    {{- $TOCManuallyDisabled := eq .Params.toc false -}}
    {{- $TOCEnabled := and (not $TOCManuallyDisabled) $TOCWidgetEnabled -}}
    {{- $hasTOC := ge (len .TableOfContents) 100 -}}
    {{- .Scratch.Set "TOCEnabled" (and $TOCEnabled $hasTOC) -}}
    
    {{- .Scratch.Set "hasWidget" (or $HasWidgetNotTOC (and $TOCEnabled $hasTOC)) -}}
{{ end }}

{{ define "main" }}
    {{ partial "article/article.html" . }}

    {{ if .Params.links }}
        {{ partial "article/components/links" . }}
    {{ end }}

    {{ partial "likecoin.html" . }} <!--插入liker按鈕-->

    {{ partial "article/components/related-content" . }}
     
    {{ if not (eq .Params.comments false) }}
        {{ partial "comments/include" . }}
    {{ end }}

    {{ partialCached "footer/footer" . }}

    {{ partialCached "article/components/photoswipe" . }}
{{ end }}



{{ define "left-sidebar" }}
{{ if (.Scratch.Get "TOCEnabled") }}
        <button type="button" id="left-menu" aria-label="{{ T `toggleMenu` }}">
            <span>
                <span>選 單 sidebar</span>
            </span>
        </button>
        <ol class="menu" id="lmenu">
            {{ $currentPage := . }}
            {{ range .Site.Menus.main }}
                {{ $active := or (eq $currentPage.Title .Name) (or ($currentPage.HasMenuCurrent "main" .) ($currentPage.IsMenuCurrent "main" .)) }}
                <li {{ if $active }} class='current' {{ end }}>
                    <a href='{{ .URL }}' {{ if eq .Params.newTab true }}target="_blank"{{ end }}>
                        {{ $icon := default .Pre .Params.Icon }}
                        {{ if .Pre }}
                            {{ warnf "Menu item [%s] is using [pre] field to set icon, please use [params.icon] instead.\nMore information: https://docs.stack.jimmycai.com/configuration/custom-menu.html" .URL }}
                        {{ end }}
                        {{ with $icon }}
                            {{ partial "helper/icon" . }}
                        {{ end }}
                        <span>{{- .Name -}}</span>
                    </a>
                </li>
            {{ end }}
            <!--暗色切換在手機端消失了，直接移上來main menu-->
            {{ if (default false .Site.Params.colorScheme.toggle) }}
                <li id="dark-mode-toggle">
                    {{ partial "helper/icon" "toggle-left" }}
                    {{ partial "helper/icon" "toggle-right" }}
                    <span>{{ T "darkMode" }}</span>
                </li>
            {{ end }}

        </ol>
    {{ else }}
        {{ partial "sidebar/left.html" . }}
    {{ end }}
{{ end }}




{{ define "right-sidebar" }}
    {{ if .Scratch.Get "hasWidget" }}{{ partial "sidebar/right.html" (dict "Context" . "Scope" "page") }}{{ end}}
{{ end }}
